#parent-container{
    display: grid;
    place-items: center;
}

#divs-container{
    display: flex;
    flex-wrap: wrap;
}

.child-divs {
    border:0.5px #ccc solid;
    padding: 5px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

